<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--<add name="PlaybookContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=PlaybookContext-20120612110222; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|PlaybookContext-20120612110222.mdf"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="PlaybookContext" connectionString="Data Source=.\sqlexpress; Initial Catalog=PlaybookContext-WebApiDemo; Integrated Security=True;User Instance=true"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>